{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Create Event</h1>
            <small>Create an event and assign members.</small>
    </div>
    <div class="form-size">
        <form method="'post">
                <div class="form-group">
                    <label for="title">Event Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Example: Sunday Morning Service">
                </div>
        </form>
        <!--todo: finish create event page-->
    </div>

{% endblock %}