{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Edit Event</h1>
        <small>Please select members you wish to keep.</small>
    </div>
    <div class="form-size">
        <form method="post">
            {% for event in event %}
            <div class="form-group">
                <label for="title">Event name</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ event.title }}">
            </div>
            <div class="form-group">
                <label for="day_of_event">Date of Event</label>
                <input type="text" id="datetimepicker2" data-format="yy-mm-dd" class="form-control" name="day_of_event" value="{{ event.day_of_event }}">
            </div>
            <div class="form-group">
                <label for="ministry">Ministry</label>
                <input type="text" id="ministry" class="form-control" name="ministry" value="{{ event.ministry }}">
            </div>

            <div class="form-group">
                <label class="col-xs control-label" for="assigned_members">Members</label>
                <div class="'col-xs-5">
                <select  name="assigned_members" id="assigned_members" class="form-control mobileSelect" data-btntext-save="Save List" data-btntext-cancel="Cancel" data-btntext-clear="Clear Selected" multiple>
                    {% for member in members %}
                        <option value="{{ member._id }}">{{ member.first_name + " " + member.last_name}}</option>
                    {% endfor %}
                </select>
                </div>
                <p id="assigned_members" class="help-block">Please reselect members. Hold CTRL/CMD to select more than one</p>
            </div>
            <button class="btn btn-default" type="submit">Update</button>
            <a class="btn btn-danger" href="{{ url_for('events.delete_event', event_id=event._id) }}" role="button">Delete Alert</a>
            {% endfor %}
        </form>


    </div>


{% endblock %}