{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Events</h1>
    </div>
    <div class="list-group">
        {% for event in events %}
            <a href={{ url_for('event.event_page', event_id=event._id) }} class="list-group-item">
                <h4 class="list-group-item-title">{{ event.name }}</h4>
                <p class="list-group-item-text">All URLs in the store should start with
                    <strong>{{ store.url_prefix }}</strong></p>
            </a>
        {% endfor %}
    </div>
    {% if session['email'] in config.ADMINS %}
        <a class="btn btn-success" href="{{ url_for('events.create_store') }}">
            <span class="glyphicon glypicon-plus"></span>Create New
        </a>
    {% endif %}

{% endblock %}