{% extends "base.jinja2" %}
{% block content %}
    <!--todo: Create dashboard for the admin showing all events for the next week or month-->

{% endblock %}
    <!--todo: Create a members view or all the events they are assigned to.-->
    <!--todo: Create a function that allows a member to request days off or reschedule-->
