{% extends "base.jinja2" %}
{% block content %}
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>Please sign in to get started!</p>

        <p><a class="btn btn-primary btn-lg" href="{{ url_for('admin.login_user') }}" role="button">Sign in</a></p>
    </div>

{% endblock %}   